body{
    background: url('../Images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

h2{
    margin: 0px;
    padding: 0px;
}

.center {
    background-color: #16293A;
    width: 30%;
    height: 40%;
    border-radius: 30px;
    position: absolute;
    left: 35%;
    top: 30%;
    box-shadow: 0px 0px 35px 10px #16293A;
  }

.name, .id{
    position: absolute;
    width: 50%;
    height: 10%;
    border-style: none;
    border-radius: 10px;
    background-color: #7CCDCA;
}

.name
{
    top: 35%;
    left: 25%;
}

.id{
    top: 55%;
    left: 25%;
}

.submit {
    background-color: #CAD0D8;
    color: #16293A;
    border-radius: 10px;
    border-style: none;
    position: absolute;
    width: 25%;
    height: 8%;
    top: 80%;
    left: 37.5%;
    text-align-last: center;
    transition-duration: 0.5s;
    cursor: pointer;
}

::-webkit-input-placeholder {
    text-align: center;
    color: #16293A;
    font-size: large;
}

:-moz-placeholder {
    text-align: center;
}


.submit:hover {
    transform: translate(0px, 0px) scale(1.5, 1.5);
}


.title {
    color: #CAD0D8;
    position: absolute;
    width: 30%;
    top: 10%;
    left: 35%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
}

.navBar{
    position: absolute;
    background-color: #16293A;
    height: 6%;
    width: 100%;
    left: 0%;
    top:0%;
    overflow: hidden;
}

.navLink{
    text-decoration: none;
    color: #CAD0D8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    top: 18%;
    width: 170%;
    height: 85%;
    transition: 0.5s;
}

.homeP, .studP, .allP, .editP, .addP{
    position: absolute;
    width: 100%;
    height: 100%;
    top:5%
}

.homeP{
    left: 20%;
}

.studP{
    left: 31%;
}

.addP{
    left: 45%;
}

.editP{
    left: 59%;
}

.allP{
    left: 73%;
}

.navLink:hover{
    color: #7CCDCA;
}

nav:hover .navLink:not(:hover){
    color: #CAD0D8;
    opacity: 0.3;
}